img{
    width:200px;
    
  height: 150px;
  object-fit: cover;
    
}
.base-card
{
    display: none;
}
.content{
    width:200px;
    
    height: 150px;
}
/* .content img:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  } */
  .content-card
  {
    height: fit-content;
    width:200px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    

  }
  .base-panel{
    height: 100px;
    display: none;
  }
  .button-panel
  {
    margin-top: 20px;
    margin-left: 10px;
  }
  .button-icons
  {
    width: 41px;
    
    display: inline-block;
  }
  .content-title
  {
    color: white;
    font-size: small;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Verdana, sans-serif;
  }
  .content .content-card:hover {
    display: block;
    position: absolute;
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
    height: 270px;
    width:200px;
    background-color: rgb(25, 25, 25);
  }

  .content:hover .base-panel {
    display: block;
    
  }

/* .content:hover .base-card
{
    display: block;
    height: 250px;
    width:200px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform .5s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
} */