.main{
    height: 71px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.126));
  transition: background-color 0.3s ease-in-out;
    /* box-shadow: -1px 5px 13px 0px rgba(1, 1, 1, 0.5); */
    display: flex;
  flex-wrap: wrap;
}
.navbar-scrolled {
    background-color: rgb(14, 14, 14); 
    transition-delay: 1s; 
  }
.logo-img
{
    padding-left: 60px;
    width: 89px;
    padding-top: 10px;
}
.logo-img:hover
{
   cursor: pointer;
}
.logo-div
{
    width: 192px;
    display: inline-block;
    height: 71px;
    /* flex: 0 0 50%; */
}
.item-div
{
    
    display: inline-block;
    margin-top: 15px;
    height: 71px;
    /* flex: 0 0 50%; */

    

}
.item{
    display: inline-block;
    
    
    margin: 10px;
    font-family: Verdana, sans-serif;
    font-size: small;
    font-weight:100;


}
.a-nav:hover
{
    cursor: pointer;
    color: #c5c5c5;
}
.a-nav{
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: small;
    font-weight:100;
    font-family: Verdana, sans-serif;
    font-size: small;
    font-weight:100;
    color: #ffffff;
    
}
.options-div
{
    
    display: inline;
    margin-top: 15px;
    height: 71px;
    /* width: 50%; */
    flex: 0 0 50%;
    overflow: hidden;

    

}

.search-div
{
    
    /* display: inline; */
    margin-top: 15px;
    height: 71px;
    width: 70%;
    display: inline-block;
    
}

.search-icon
{
    z-index: 3;
    position: relative;
    margin-left: 500px;
    margin-top: 2px;
    width: fit-content;
    transition: 0.3s ease all;
    cursor: pointer;
}
.search-icon-toggle
{
    margin-left: 263px;

}

.search-input-div{
    right: 15px;
  top: 30px;
  /* position: absolute;
  display: inline-block; */
  
}

.input
{
    
    width: 0px;
    height: 34px;
   
    box-shadow: none;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    padding-left: 35px;
    font-size: 16px;
    transition: 0.3s ease all;

    
}

.search-input-toggle
{
    background-color: #000;
    color: #fff;
    
    width: 240px;
    border-color: #fff;
}

.search-input-div
{
    z-index: 2;
    position: absolute;
  display: inline-block;
    /* margin-left: 250px; */
    margin-top: -31px;
    top: 53px;
    right: 251px;
}

.children
{
    display: inline-block;
    
    margin-left: 13px;
}
.notification
{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 10px;
}
.profile
{
    
    display: inline-block;
    margin-left: 30px;
    

}
.arrow
{
    display: inline-block;
    margin-left: 10px;
    transition: 0.3s ease all; 
}
.arrow-clicked
{
    /* transform-origin:center;  */
    transform: perspective(800px) rotatez(180deg);
}
.menu-div
{
    /* background-color: #ffffffd7; */
    width: 200px;
    height: 337px;
    position: absolute;
    z-index: 4;
    right: 52px;
    top: 23px;
}
.menu
{
    background-color: #000000d7;
    width: 200px;
    height: 233px;
    position: absolute;
    z-index: 4;
    top: 49px;
}
.sign-out
{
    background-color: #000000d7;
    width: 200px;
    height: 55px;
    position: absolute;
    z-index: 4;
    top: 283px;

}

.menu-items
{
   margin: 20px;
}
.a-menu
{
    cursor: pointer;
    color: #fff8f8;
    margin-left: 10px;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    font-weight: 100;
    padding-bottom: 10px;
    display: inline-block;

}