.main {
    height: 300px;
    width: 100%;
    margin-left: 200px;
    margin-top: 50px;
}

.panel
{
    width: 200px;
    display: inline-block;
    margin: 50px;
    color: rgb(152, 152, 152);
}
p:hover
{
    /* color: white; */
    cursor: pointer;
    text-decoration: underline;
}
